@{
    ViewData["Title"] = "Revenue List";
}


<div id="loadingContent" class="container-xxl flex-grow-1 container-p-y d-none">
    <div class="card">
        <div class="card-body text-center">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div id="contentPage" class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Page /</span> <span class="text-muted fw-light">Revenue /</span> Edit</h4>
    <div class="card">
        <div class="card-body p-3">
            <div class="row mb-3">
                <div class="col-sm-12 mb-3 col-md-6">
                    <label class="form-label" for="tahunBerjalan">Tahun Berjalan</label>
                    <select id="tahunBerjalan" class="form-control" name="tahunBerjalan" required>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>

                <!-- Ulang untuk setiap kolom berikutnya -->
                <div class="col-sm-12 mb-3 col-md-6">
                    <label class="form-label" for="rjppNextStaRev">RJPP Next Sta</label>
                    <input type="text" id="rjppNextStaRev" name="rjppNextSta" class="form-control" required />
                </div>

                <div class="col-sm-12 mb-3 col-md-6">
                    <label class="form-label" for="rkapYearStaRev">RKAP Year Sta</label>
                    <input type="number" id="rkapYearStaRev" name="rkapYearSta" class="form-control" required />
                </div>

                <div class="col-sm-12 mb-3 col-md-6">
                    <label class="form-label" for="prognosaRev">Prognosa</label>
                    <input type="number" id="prognosaRev" name="prognosa" class="form-control" required />
                </div>

                <div class="col-sm-12 mb-3 col-md-6">
                    <label class="form-label" for="realisasiBackYearRev">Realisasi Back Year</label>
                    <input type="number" id="realisasiBackYearRev" name="realisasiBackYear" class="form-control" required />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <button type="submit" id="submitEditHeader" class="btn btn-warning">Save</button>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12 text-end">
                    <div class="dt-action-buttons">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRevenue">
                            <i class="bx bx-plus me-sm-2"></i>
                            <span class="d-none d-sm-inline-block">Upload Template</span>
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRevenue">
                            <i class="bx bx-plus me-sm-2"></i>
                            <span class="d-none d-sm-inline-block">Add Project Revenue</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <table id="dataTable" class="table no-footer">
                    <thead>
                        <tr class="text-nowrap">
                            <th>Segmen</th>
                            <th>Asset</th>
                            <th>Costumer</th>
                            <th>Contract</th>
                            <th>Pekerjaan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024</td>
                            <td>1.000.000</td>
                            <td>1.000.000</td>
                            <td>1.000.000</td>
                            <td>1.000.000</td>
                            <td>
                                <a href="#">Edit</a> | <a href="#">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="addRevenue" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="addRevenue-modal" class="addRevenue-modal pt-0 row g-2 fv-plugins-bootstrap5 fv-plugins-framework need-validation" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title" id="addRevenue">
                        Input Project Revenue
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="revenueId" />
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="segmenRev">Segmen</label>

                        <select id="segmenRev" class="form-control" name="segmen" required>
                            <option>Pilih Segmen</option>
                        </select>

                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="assetRev">Asset</label>

                        <select id="assetRev" class="form-control" name="asset" required>
                            <option>Pilih Asset</option>
                        </select>

                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="costCenterRev">Cost Center</label>

                        <input type="text" id="costCenterRev" name="costCenter" class="form-control" required />

                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="customerRev">Costumer</label>

                        <select id="customerRev" class="form-control" name="customer" required>
                            <option>Pilih Costumer</option>
                        </select>

                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="regionalRev">Regional</label>

                        <input type="text" id="regionalRev" name="regional" class="form-control" required />

                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="contractRev">Contract</label>

                        <select id="contractRev" class="form-control" name="contract" required>
                            <option>Pilih Contract</option>
                        </select>

                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="probabilityRev">Probability</label>

                        <input type="text" id="probabilityRev" name="probability" class="form-control" required />

                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="sumurRev">Sumur</label>

                        <input type="text" id="sumurRev" name="sumur" class="form-control" required />

                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="ctrProjectRev">Ctr Project</label>

                        <input type="text" id="ctrProjectRev" name="regional" class="form-control" required />

                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="pekerjaanRev">Pekerjaan</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <select id="pekerjaanRev" class="form-control" name="contract" required>
                                    <option>Pilih Pekerjaan</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <a href="">Add New</a>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="sbtRev">SBT</label>

                        <select id="sbtRev" class="form-control" name="contract" required>
                            <option>Pilih SBT</option>
                        </select>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="submitRole" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {


}