@{
    ViewData["Title"] = "Revenue List";
}


<div id="loadingContent" class="container-xxl flex-grow-1 container-p-y d-none">
    <div class="card">
        <div class="card-body text-center">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div id="contentPage" class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Page /</span> <span class="text-muted fw-light">Revenue /</span> List</h4>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            
            <div class="dt-action-buttons text-end pt-3 pt-md-0">
                <div class="dt-buttons">                         
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRevenue">
                        <i class="bx bx-plus me-sm-2"></i>
                        <span class="d-none d-sm-inline-block">Add Proyeksi Revenue RKAP</span>
                    </button>
                </div>
            </div>

        </div>
        <div class="card-datatable table-responsive text-nowrap">
            <table id="dataTable" class="table no-footer">
               @*  <thead>
                    <tr class="text-nowrap">
                        <th>Tahun</th>
                        <th>RJPPNextSta</th>
                        <th>RKAPYearSta</th>
                        <th>Prognosa</th>
                        <th>Realisasi Back Year</th>
                        <th>Total Project</th>
                        <th>Action</th>
                    </tr>
                </thead> *@
               
            </table>
        </div>
    </div>
</div>
<!-- Modal Create -->
<div class="modal fade" id="addRevenue" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="addRevenue-modal" class="addRevenue-modal pt-0 row g-2 fv-plugins-bootstrap5 fv-plugins-framework need-validation" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title" id="addRevenue">                     
                        Input Project Revenue
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="revenueId" />
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="segmenRev">Tahun Berjalan</label>
                        
                            <select id="segmenRev" class="form-control" name="segmen" required>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                            </select>
                       
                        <div class="invalid-feedback"></div>
                    </div>
                   
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="rjppNextYearStaRev">RJPP Next Year Sta</label>

                        <input type="text" id="rjppNextYearStaRev" name="rjppNextYearSta" class="form-control" required />
                       
                    </div>
            
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="rkapStaRev">RKAP Sta</label>

                        <input type="text" id="rkapStaRev" name="rkapSta" class="form-control" required />
                        
                    </div>
                  
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="prognosaRev">Prognosa</label>

                        <input type="text" id="prognosaRev" name="prognosa" class="form-control" required />
                        
                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="realisasiBackYearRev">Realsiasi Back Year</label>

                        <input type="text" id="realisasiBackYearRev" name="realisasiBackYear" class="form-control" required />
                        
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="submitRole" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/Revenue/revenue-list.js"></script>
   
}