@page
@model ForgotPasswordModel
@{
    Layout = "/Views/Shared/_LayoutIdentity.cshtml";
    ViewData["Title"] = "Forgot your password?";
}

<div class="card">
    <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                    <img src="~/assets/img/icons/portal-9.svg" alt="logo-portal" width="24" height="27" />
                </span>
                <span class="app-brand-text demo text-body fw-bolder" style="text-transform: none">i-Corp</span>
            </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Forgot Password? 🔒</h4>
        <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
        <form id="account" class="mb-3" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input
                    asp-for="Input.Email"
                    type="text"
                    class="form-control"
                    placeholder="Enter your email"
                    autocomplete="email" 
                    aria-required="true" 
                    autofocus
                />
                <span asp-validation-for="Input.Email" class="text-danger" style="font-size: 12px"></span>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" id="reset-submit" type="submit">Send Reset Link</button>
            </div>
        </form>
        <div class="text-center">
            <a asp-page="./Login" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to login
            </a>
        </div>
    </div>
</div>

@*<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
