<div class="row">
    <div class="col-12">
        <div class="content-header pb-3 border-bottom d-flex justify-content-between">
            <div class="col-auto">
                <h6 class="mb-0">FUK Detail</h6>
                <small>Enter FUK Details.</small>
            </div>
            <div class="col-auto">
                @*<button id="btnModalFUK" class="btn btn-label-primary" data-bs-toggle="modal" data-bs-target="#addFUKModal">*@
                <button id="btnModalFUK" class="btn btn-label-primary">
                    <i class="bx bx-plus"></i>
                    <span class="align-middle">Add</span>
                </button>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12 mb-2">
                <div class="table-responsive text-start">
                    <table id="table-fuk-detail" class="table dataTable compact no-footer">
                        <thead>
                            <tr>
                                <th>Indikator</th>
                                <th>Parameter</th>
                                <th>ID</th>
                                <th>Parent</th>
                                <th>Child</th>
                                <th class="ms-5">Seq</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4 d-flex justify-content-between">
        <button id="btnParameterDetailsPrev" class="btn btn-primary btn-prev">
            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
            <span class="align-middle d-sm-inline-block d-none">Previous</span>
        </button>
        <button id="btnParameterDetailsNext" class="btn btn-primary btn-next btn-next-up">
            <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
        </button>
    </div>
</div>

<!-- Modal FUK  -->
<div class="modal fade" id="addFUKModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form name="form-fuk-detail" class="add-new-user pt-0 row g-2 fv-plugins-bootstrap5 fv-plugins-framework need-validation" id="form-add-new-record" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title" id="addModalLabel">
                        <i class="bx bx-user-plus me-1"></i>
                        Add FUK Details
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="fukid" id="fukid" />
                    <div class="col-sm-12 mb-2">
                        <label class="form-label" for="ParemeterHeader">Parameter Header</label>
                        <select class="form-control" id="ParemeterHeader" name="ParemeterHeader" required></select>
                    </div>
                    <div id="parameterContent" class="col-sm-12 mb-1 d-none">
                        <label class="form-label" for="input-content-parameter">Parameter Content</label>
                        <div class="table-responsive">
                            <table id="input-content-parameter" class="table dataTable no-footer table-dark table-border w-100">
                                <thead>
                                    <tr>
                                        <th style="width: 5%"></th>
                                        <th>ID</th>
                                        <th>Parameter Description</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12 mb-1">
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="Parent">
                            <label class="form-check-label" for="Parent">Point</label>
                        </div>
                    </div>
                    <div class="col-sm-12 mb-1">
                        <label class="form-label" for="Description">Description</label>
                        <textarea cols="5" id="Description" name="Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnAddParamater" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal FUK  -->
<div class="modal fade" id="addFUKChildModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form-fuk-child-detail" class="add-new-user pt-0 row g-2 fv-plugins-bootstrap5 fv-plugins-framework need-validation" id="form-add-new-record" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title" id="addModalLabel">
                        <i class="bx bx-user-plus me-1"></i>
                        Add FUK Child Details
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="Id" name="Id" />
                    <div class="col-sm-12 mb-1">
                        <label class="form-label" for="Description">Description</label>
                        <textarea cols="5" id="Description" name="Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnAddChild" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
