<div class="row">
    <div class="col-12">
        <div class="content-header pb-3 border-bottom d-flex justify-content-between">
            <h5 class="mb-0">Preview Template</h5>
        </div>
        <div class="row g-3">
            <div class="col-12 mb-2">
                <div class="table-responsive text-start">
                    <table id="table-preview" class="table dataTable compact">
                        <thead>
                            <tr>
                                <th>Indikator</th>
                                <th>Parameter</th>
                                <th>Seq</th>
                                <th>UP</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4 d-flex justify-content-between">
        <button id="btnParameterDetailsPrev" class="btn btn-primary btn-prev">
            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
            <span class="align-middle d-sm-inline-block d-none">Previous</span>
        </button>
        <button id="btnSubmitMKK" class="btn btn-success btn-submit">Submit</button>
    </div>
</div>