@{
    ViewData["Title"] = "Add Master Kertas Kerja";
}

@section Styles {
    <link rel="stylesheet" href="~/css/bs-stepper.css">
    <style>
        .bs-stepper.vertical .bs-stepper-header {
            width: 18rem !important;
        }

        .bs-stepper.vertical .bs-stepper-content {
            /*width: 100%*/
            width: calc(100% - 18rem) !important;
        }

    </style>
    <script type="text/javascript">
        //localStorage.clear();
        //var
        //    localDataHeader = JSON.parse(localStorage.getItem("header-parameters")),
        //    localDataContent = JSON.parse(localStorage.getItem("content-parameters")),
        //    localDataFUK = JSON.parse(localStorage.getItem("fuk-details")),
        //    localDataUP = JSON.parse(localStorage.getItem("up-links")),
        //    storedHeaderParameter = !localDataHeader ? new Array : localDataHeader,
        //    storedContentParameter = !localDataContent ? new Array : localDataContent,
        //    storedFUKDetail = !localDataFUK ? new Array : localDataFUK,
        //    storedUPLink = !localDataUP ? new Array : localDataUP;

        var
            localDataHeader = new Array,
            localDataContent = new Array,
            localDataFUK = new Array,
            localDataUP = new Array,
            storedHeaderParameter = new Array,
            storedContentParameter = new Array,
            storedFUKDetail = new Array,
            storedUPLink = new Array;


    </script>
}

    <div id="loadingContent" class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-body text-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div id="contentPage" class="container-xxl flex-grow-1 container-p-y d-none">
        <h5 class="fw-bold py-3 mb-3"><span class="text-muted fw-light">Page /</span> <span class="text-muted fw-light">Master Kertas Kerja /</span> Update</h5>
        <div id="stepper-mkk" class="bs-stepper wizard-vertical vertical mt-2">
            <div class="bs-stepper-header">
                <div class="step active" data-target="#parameter-details">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label mt-1">
                            <span class="bs-stepper-title">Parameter Details</span>
                            <span class="bs-stepper-subtitle">Setup Parameter Details</span>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#fuk-detail">
                    <button type="button" class="step-trigger" aria-selected="false">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label mt-1">
                            <span class="bs-stepper-title">FUK Details</span>
                            <span class="bs-stepper-subtitle">Add Faktor Uji Kesesuaian (FUK)</span>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#up-links">
                    <button type="button" class="step-trigger" aria-selected="false">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label mt-1">
                            <span class="bs-stepper-title">UP Details</span>
                            <span class="bs-stepper-subtitle">Add Unsur Pemenuhan (UP)</span>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#previews-mkk">
                    <button type="button" class="step-trigger" aria-selected="false">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label mt-1">
                            <span class="bs-stepper-title">Submit</span>
                            <span class="bs-stepper-subtitle">Preview and Submit</span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- Parameter Details -->
                <div id="parameter-details" class="content dstepper-block active">
                    <partial name="_ParameterDetail.cshtml" />
                </div>
                <!-- FUK Info -->
                <div id="fuk-detail" class="content dstepper-block">
                    <partial name="_FUKInfo.cshtml" />
                </div>
                <!-- UP Links -->
                <div id="up-links" class="content dstepper-block">
                    <partial name="_UPLink.cshtml" />
                </div>
                <!-- Preview -->
                <div id="previews-mkk" class="content dstepper-block">
                    <partial name="_Preview.cshtml" />
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <script src="~/assets/vendor/libs/bsStepper/bs-stepper.min.js"></script>
    @*<script src="~/lib/datatables-bs5/dataTables.bootstrap5.min.js"></script>*@
    @*<script src="~/lib/datatables-responsive-bs5/responsive.bootstrap5.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/rowgroup/1.2.0/js/dataTables.rowGroup.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>*@
    @*<script type="text/javascript" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>*@

    <div id="partialScript">
        
    </div>

   
    <script type="text/javascript">
        $(function () {
            var
                _url = urlAction();
            stepper = new Stepper(document.querySelector('#stepper-mkk')),
                steps = JSON.parse(localStorage.getItem("steps"));

            if (steps && steps > 1) stepper.to(steps);
            //$('#btnParameterDetailsNext').on("click", function() {
            $('button.btn-next').on("click", function () {
                localStorage.setItem("steps", JSON.stringify(steps ? steps + 1 : 2))
                stepper.next();
            });
            //$('#btnParameterDetailsPrev').on("click", function() {
            $('button.btn-prev').on("click", function () {
                steps = steps - 1
                localStorage.setItem("steps", JSON.stringify(steps))
                stepper.previous();
            });

            async function OnLoadPartialJS() {
                await asyncAjax("/page/master-kertas-kerja/_partialJS", "GET")
                    .then(async function successCallBack(response) {
                        console.log(response);
                        $('#partialScript').html(response);
                    })
                    .catch(async function errorCallBack(err) {
                        swallAllert.Error("Fetch Data Failed!", err.data);
                    });
            }

            async function OnLoadDataEdit() {
                await asyncAjax("/page/master-kertas-kerja/get-datamasterkertaskerja-ajax/2041", "GET")
                    .then(async function successCallBack(response) {
                        console.log(response);
                        if (response.success) {
                            var data = response.data;
                            parameterHeader = [];
                            parameterContent = [];
                            parameterFUK = [];
                            parameterUP = [];
                            
                            for (var i = 0; i < data.parameterHeader.length; i++) {
                                var obj = data.parameterHeader[i];
                                var objHeader = {
                                    Aspek:obj.aspek,
                                    Id:obj.id,
                                    Sequence:obj.sequence
                                }
                                localDataHeader.push(objHeader);
                            }

                             for (var i = 0; i < data.parameterContent.length; i++) {
                                var obj = data.parameterContent[i];
                                var objContent = {
                                   Aspek:obj.aspek,
                                   Bobot:obj.bobot,
                                   Description:obj.description,
                                   HeaderId:obj.headerId,
                                   Id:obj.id
                                }
                                localDataContent.push(objContent);
                            }

                            for (var i = 0; i < data.parameterFUK.length; i++) {
                                var obj = data.parameterFUK[i];
                                var objFuk = {
                                   Child:obj.child,
                                   ContentDescription:obj.contentDescription,
                                   ContentId:obj.contentId,
                                   Description:obj.description,
                                   Id:obj.id,
                                   Parent:obj.parent,
                                   Sequence:obj.sequence
                                }
                                localDataFUK.push(objFuk);
                            }

                            for (var i = 0; i < data.parameterUP.length; i++) {
                                var obj = data.parameterUP[i];
                                var objUP = {
                                   Description:obj.description,
                                   FUKDescription:obj.fukDescription,
                                   FUKId:obj.fukId,
                                   Id:obj.id,
                                }
                                localDataUP.push(objUP);
                            }

                            storedHeaderParameter = !localDataHeader ? new Array : localDataHeader,
                            storedContentParameter = !localDataContent ? new Array : localDataContent,
                            storedFUKDetail = !localDataFUK ? new Array : localDataFUK,
                            storedUPLink = !localDataUP ? new Array : localDataUP;


                            setTimeout(await OnLoadPartialJS, 500);
                        }
                    })
                    .catch(async function errorCallBack(err) {
                        swallAllert.Error("Fetch Data Failed!", err.data);
                    });
            }

            /**
              * Submit all data
             */
            $('button#btnSubmitMKK').click(onSubmit);

            async function onSubmit() {
                Swal.fire({
                    title: 'Please type year template!',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Save',
                    showLoaderOnConfirm: true,
                    preConfirm: async (year) => {
                            var NewFUK = new Array;
                            for (var i = 0; i < storedFUKDetail.length; i++) {
                                const el = storedFUKDetail[i];
                                //el.Parent = el.Parent == "Off" || typeof el.Parent == "number" ? 0 : 1;
                                el.Parent = el.Parent == "Off" || typeof el.Parent == "number" ? 0 : 1;
                                NewFUK.push(el);
                            }
                            var data = {
                                Year: year,
                                ParameterHeader: storedHeaderParameter,
                                ParameterContent: storedContentParameter,
                                //ParameterFUK: storedFUKDetail,
                                ParameterFUK: NewFUK,
                                ParameterUP: storedUPLink
                            };
                            var post = await asyncAjax("/page/master-kertas-kerja/store-ajax", "POST", JSON.stringify(data), true)
                                .then(function successCallBack(response) {
                                    response.year = year;
                                    return response;
                                })
                                .catch(function errorCallBack(err) {
                                    return {
                                        success: false,
                                        message: "Catch error!"
                                    }
                                });

                            return post;

                            //return {
                            //    isConfirmed: true
                            //};
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    console.log(result)
                    if (result.isConfirmed) {
                        if (result.value.success) {
                            //localStorage.clear();
                            swallAllert.Success("Success", result.value.message);
                            movePage(result.value.year);
                        } else {
                            swallAllert.Error("Oops, something wrong!", result.value.message);
                        }
                    }
                });

                function movePage(year) {
                    var
                        urldetail = decodeURIComponent(baseUrl + "/page/fuk-assignment?Year=Params"),
                        url = decodeURIComponent(urldetail);
                    url = url.replace("Params", window.btoa(year));

                    window.location.href = url;
                }
            }

            setLodingContent(false);
            OnLoadDataEdit();
        })
    </script>
}