@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Master Kertas Kerja Import";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables-bs5/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/lib/datatables-responsive-bs5/responsive.bootstrap5.min.css">
    <link href="https://cdn.datatables.net/rowgroup/1.2.0/css/rowGroup.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bs-stepper.css">
    <style>
        .select2-container {
            width: 100% !important;
        }

        .select2-dropdown {
          z-index: 1090 !important;
        }

        

        table.dataTable tr.dtrg-group.dtrg-level-0 td {
            font-weight: bold;
        }
        table.dataTable tr.dtrg-group td {
            background-color: #e0e0e0;
        }
        table.dataTable tr.dtrg-group.dtrg-level-1 td:first-child{
            padding-left: 2.5rem !important;
        }
        table.dataTable tr.dtrg-group.dtrg-level-1 td{
            background-color: #f0f0f0;
            padding-top: 0.25rem !important;
            padding-bottom: 0.25rem !important;
        }
        table.dataTable tr.dtrg-group.dtrg-level-2 td:first-child {
            padding-left: 3.5rem !important;
        }
        table.dataTable tr.dtrg-group.dtrg-level-2 td {
            background-color: #fff0f0;
        }
        table.dataTable.compact tbody tr td.order_id {
            padding-left: 4.5rem !important;
        }

        .bs-stepper.vertical .bs-stepper-header {
            width: 18rem !important;
        }

        .bs-stepper.vertical .bs-stepper-content {
            /*width: 100%*/
            width: calc(100% - 18rem) !important;
        }

    </style>
}
<script type="text/javascript">
        //localStorage.clear();
        //var
        //    localDataHeader = JSON.parse(localStorage.getItem("header-parameters")),
        //    localDataContent = JSON.parse(localStorage.getItem("content-parameters")),
        //    localDataFUK = JSON.parse(localStorage.getItem("fuk-details")),
        //    localDataUP = JSON.parse(localStorage.getItem("up-links")),
        //    storedHeaderParameter = !localDataHeader ? new Array : localDataHeader,
        //    storedContentParameter = !localDataContent ? new Array : localDataContent,
        //    storedFUKDetail = !localDataFUK ? new Array : localDataFUK,
        //    storedUPLink = !localDataUP ? new Array : localDataUP;

        var
            localDataHeader = new Array,
            localDataContent = new Array,
            localDataFUK = new Array,
            localDataUP = new Array,
            storedHeaderParameter = new Array,
            storedContentParameter = new Array,
            storedFUKDetail = new Array,
            storedUPLink = new Array;

    </script>

<div id="loadingContent" class="container-xxl flex-grow-1 container-p-y d-none">
    <div class="card">
        <div class="card-body text-center">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div id="contentPage" class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Page /</span> <span class="text-muted fw-light">Master Kertas Kerja /</span> Import</h4>
    <div class="card">
        <div class="card-header d-flex border-bottom">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills nav- card-header-pills" role="tablist">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-excel-file" aria-controls="navs-pills-excel-file" aria-selected="true">Excel File</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-another-year" aria-controls="navs-pills-os" aria-selected="false">From Another Year</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="navs-pills-excel-file" role="tabpanel">
                <div class="row">
                    <label for="templateFile" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        @*<p><a href="TestFile/ExcelFile.xlsx" download> Click to Download </a></p>*@
                        <a href="~/template/TemplateImportKertasKerja.xlsx">Download Template </a>
                    </div>
                </div> 
                <div class="row">
                    <label for="formFile" class="col-md-2 col-form-label">Import File</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnUploadFile" class="btn btn-primary">Upload</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header border-bottom bg-info py-3">
                                <h5 class="card-title m-0 me-2 text-white">Preview data from excel (Indikator Parameter)</h5>
                            </div>
                       @*   <div class="card-datatable table-responsive">
                                <table id="dataTable" class="table table-border compact dataTable no-footer"></table>
                            </div>*@
                        </div>
                         <div class="card-datatable table-responsive text-nowrap">
                            <table id="dataTableIndikatorParameter" class="table no-footer">
                                <thead>
                    	                <tr>
							                <th>#</th>
							                <th>Indikator</th>
							                <th>No. Parameter</th>
							                <th>Parameter</th>
							                <th>Bobot</th>
							                @*<th>Action</th>*@
						                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header border-bottom bg-info py-3">
                                <h5 class="card-title m-0 me-2 text-white">Preview data from excel (FUK - UP)</h5>
                            </div>
                       @*   <div class="card-datatable table-responsive">
                                <table id="dataTable" class="table table-border compact dataTable no-footer"></table>
                            </div>*@
                        </div>
                         <div class="card-datatable table-responsive text-nowrap">
                            <table id="dataTableFukUp" class="table no-footer">
                                <thead>
                    	                <tr>
							                <th>#</th>
							                <th>No. Parameter</th>
							                <th>Seq UP</th>
							                <th>FUK</th>
							                <th>Unsur Pemenuhan</th>
							                @*<th>Action</th>*@
						                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnSubmit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-pills-another-year" role="tabpanel">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="Year" class="form-label">Year Data</label>
                        <select class="form-select select2" id="Year" name="Year"></select>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <button id="btnPreview" class="btn btn-primary">Preview</button>
                    </div>

                   @* <div class="col-sm-12 mt-3">
                        <button id="btnCancel" class="btn btn-success">Cancel</button>
                    </div>*@


                </div>
                <div class="row">
                    <div id="stepper-mkk" class="bs-stepper wizard-vertical vertical mt-2">
            <div class="bs-stepper-header">
                <div class="step active" data-target="#parameter-details">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label mt-1">
                            <span class="bs-stepper-title">Parameter Details</span>
                            <span class="bs-stepper-subtitle">Setup Parameter Details</span>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#fuk-detail">
                    <button type="button" class="step-trigger" aria-selected="false">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label mt-1">
                            <span class="bs-stepper-title">FUK Details</span>
                            <span class="bs-stepper-subtitle">Add Faktor Uji Kesesuaian (FUK)</span>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#up-links">
                    <button type="button" class="step-trigger" aria-selected="false">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label mt-1">
                            <span class="bs-stepper-title">UP Details</span>
                            <span class="bs-stepper-subtitle">Add Unsur Pemenuhan (UP)</span>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#previews-mkk">
                    <button type="button" class="step-trigger" aria-selected="false">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label mt-1">
                            <span class="bs-stepper-title">Submit</span>
                            <span class="bs-stepper-subtitle">Preview and Submit</span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- Parameter Details -->
                <div id="parameter-details" class="content dstepper-block active">
                    <partial name="_ParameterDetail.cshtml" />
                </div>
                <!-- FUK Info -->
                <div id="fuk-detail" class="content dstepper-block">
                    <partial name="_FUKInfo.cshtml" />
                </div>
                <!-- UP Links -->
                <div id="up-links" class="content dstepper-block">
                    <partial name="_UPLink.cshtml" />
                </div>
                <!-- Preview -->
                <div id="previews-mkk" class="content dstepper-block">
                    <partial name="_Preview.cshtml" />
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="partialScript">
        
    </div>
@section Scripts {
    <script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables-responsive-bs5/responsive.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.2.0/js/dataTables.rowGroup.min.js"></script>
    <script src="~/assets/vendor/libs/bsStepper/bs-stepper.min.js"></script>

    <!-- Page level custom scripts -->
    @*<script src="~/js/demo/dataTable-demos.js"></script>*@
    <script src="~/js/pages/MasterKertasKerja/import-mkk.js"></script>
    <script src="~/js/pages/MasterKertasKerja/clone-mkk.js"></script>
}

    <script>
         $(function () {
            var
                _url = urlAction();
            stepper = new Stepper(document.querySelector('#stepper-mkk')),
                steps = JSON.parse(localStorage.getItem("steps"));

            if (steps && steps > 1) stepper.to(steps);
            //$('#btnParameterDetailsNext').on("click", function() {
            $('button.btn-next').on("click", function () {
                localStorage.setItem("steps", JSON.stringify(steps ? steps + 1 : 2))
                stepper.next();
            });
            //$('#btnParameterDetailsPrev').on("click", function() {
            $('button.btn-prev').on("click", function () {
                steps = steps - 1
                localStorage.setItem("steps", JSON.stringify(steps))
                stepper.previous();
            });


            /**
              * Submit all data
             */
            $('button#btnSubmitMKK').click(onSubmit);

            async function onSubmit() {
                Swal.fire({
                    title: 'Please type year template!',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Save',
                    showLoaderOnConfirm: true,
                    preConfirm: async (year) => {
                        
                            var NewFUK = new Array;
                            for (var i = 0; i < storedFUKDetail.length; i++) {
                                const el = storedFUKDetail[i];
                                el.Parent = el.Parent == "Off" || typeof el.Parent == "number" ? 0 : 1;
                                NewFUK.push(el);
                            }
                            var data = {
                                Year: year,
                                ParameterHeader: storedHeaderParameter,
                                ParameterContent: storedContentParameter,
                                ParameterFUK: NewFUK,
                                ParameterUP: storedUPLink
                            };
                            var post = await asyncAjax("/page/master-kertas-kerja/store-ajax", "POST", JSON.stringify(data), true)
                                .then(function successCallBack(response) {
                                    response.year = year;
                                    return response;
                                })
                                .catch(function errorCallBack(err) {
                                    return {
                                        success: false,
                                        message: "Catch error!"
                                    }
                                });

                            return post;

                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    console.log(result)
                    if (result.isConfirmed) {
                        if (result.value.success) {
                            //localStorage.clear();
                            swallAllert.Success("Success", result.value.message);
                            movePage(result.value.year);
                        } else {
                            swallAllert.Error("Oops, something wrong!", result.value.message);
                        }
                    }
                });

                function movePage(year) {
                    var
                        urldetail = decodeURIComponent(baseUrl + "/page/fuk-assignment?Year=Params"),
                        url = decodeURIComponent(urldetail);
                    url = url.replace("Params", window.btoa(year));

                    window.location.href = url;
                }
            }

            setLodingContent(false);
        })
    </script>